:host {
  --vbi-chart-field-filter-min-width: calc(var(--size-base) * 13.5);

  display: flex;
  align-items: center;
  gap: calc(var(--size-base) * 0.5);
  font-size: calc(var(--size-base) * 0.875);
}

.dropdown-content {
  border: var(--border) solid var(--color-base-300);
  border-radius: var(--radius-box);
  background: var(--color-base-100);
  color: var(--color-base-content);
}

.filter {
  padding: calc(var(--size-base) * 0.625);
  min-width: var(--vbi-chart-field-filter-min-width);
  display: flex;
  flex-direction: column;
  gap: calc(var(--size-base) * 0.625);
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: calc(var(--size-base) * 0.5);
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-group-item {
  display: flex;
  align-items: center;
  gap: calc(var(--size-base) * 0.5);
  cursor: pointer;
}
