:host {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
}

.dropdown-content {
  border: 1px solid var(--color-base-300);
  border-radius: var(--radius-box);
  background: var(--color-base-100);
  color: var(--color-base-content);
}

.filter {
  padding: 10px;
  min-width: 215px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-group-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
