@import '../../../../common/styles/reset.css';
@import '../../../../common/styles/scroll-bar.css';

:host {
  display: block;
  font-size: calc(var(--size-base) * 0.875);
}

.having {
  display: flex;
  gap: calc(var(--size-base) * 0.375);
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: var(--radius-box);
  color: var(--color-base-content);
  padding: calc(var(--size-base) * 0.25) calc(var(--size-base) * 0.375);
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  border-width: var(--border);
  border-style: solid;
  border-color: transparent;
}

.having:has(.sortable-ghost) {
  border-color: var(--color-error);
  box-shadow: 0 0 0 2px color-mix(in oklab, var(--color-error) 30%, transparent);
}

.having:has(.sortable-ghost) .having__placeholder {
  display: none;
}

.having__placeholder {
  color: color-mix(in oklab, var(--color-base-content) 50%, transparent);
  line-height: calc(var(--size-base) * 2);
}

.having__item-close,
.having__item-down {
  flex-shrink: 0;
  border-radius: var(--radius-field);
}

.having__item-close {
  width: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  margin-left: calc(var(--size-base) * -0.375);
  box-sizing: content-box;

  transition: 0.15s ease-in-out;
  transition-property: width, padding, opacity, margin-left, background-color;
}

.having__item:hover .having__item-close {
  width: calc(var(--size-base) * 0.625);
  padding: calc(var(--size-base) * 0.25);
  opacity: 1;
  margin-left: 0;
}

.having__item-down {
  padding: calc(var(--size-base) * 0.25);
}

.having__item-close:hover,
.having__item-down:hover {
  background-color: color-mix(in oklab, var(--color-base-content) 15%, transparent);
}

.having__drag {
  flex-shrink: 0;
}

.having__item {
  white-space: nowrap;
}

.having__item-text {
  white-space: nowrap;
}
