:host {
  display: inline-block;
}

.input {
  cursor: text;
  border: var(--border) solid transparent;

  background-color: var(--color-base-100);
  color: var(--color-base-content);
  position: relative;
  display: inline-flex;
  flex-shrink: 1;
  appearance: none;
  align-items: center;
  gap: calc(var(--size-base) * 0.5);
  padding-inline-start: calc(var(--size-base) * 0.75);
  padding-inline-end: calc(var(--size-base) * 0.75);
  vertical-align: middle;
  white-space: nowrap;

  width: 100%;
  height: var(--size);
  font-size: max(var(--font-size, calc(var(--size-base) * 0.875)), calc(var(--size-base) * 0.875));
  touch-action: manipulation;
  border-start-start-radius: var(--join-ss, var(--radius-field, calc(var(--size-base) * 0.5)));
  border-start-end-radius: var(--join-se, var(--radius-field, calc(var(--size-base) * 0.5)));
  border-end-start-radius: var(--join-es, var(--radius-field, calc(var(--size-base) * 0.5)));
  border-end-end-radius: var(--join-ee, var(--radius-field, calc(var(--size-base) * 0.5)));
  border-color: var(--input-color);
  box-shadow:
    0 1px color-mix(in oklab, var(--input-color) calc(var(--depth, 1) * 10%), transparent) inset,
    0 -1px oklch(100% 0 0 / calc(var(--depth, 1) * 0.1)) inset;

  --size: calc(var(--size-field) * 10);
  --input-color: color-mix(in oklab, var(--color-base-content) 20%, transparent);

  &::placeholder,
  input::placeholder {
    color: color-mix(in oklab, var(--color-base-content) 50%, transparent);
  }

  :where(input) {
    display: inline-flex;
    height: auto;
    width: 100%;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    &:focus,
    &:focus-within {
      outline: none;
    }
  }

  :where(input[type='url']),
  :where(input[type='email']) {
    direction: ltr;
  }

  :where(input[type='date']) {
    display: inline-flex;
  }

  &:focus,
  &:focus-within {
    --input-color: var(--color-base-content);
    box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth, 1) * 10%), transparent);
    outline: 1px solid var(--input-color);
    outline-offset: 0;
    isolation: isolate;
  }

  @media (pointer: coarse) {
    @supports (-webkit-touch-callout: none) {
      &:focus,
      &:focus-within {
        --font-size: var(--size-base);
      }
    }
  }

  &:has(> input[disabled]),
  &:is(:disabled, [disabled]) {
    border-color: var(--color-base-200);
    background-color: var(--color-base-200);
    color: color-mix(in oklab, var(--color-base-content) 40%, transparent);
    cursor: not-allowed;
    box-shadow: none;

    &::placeholder,
    input::placeholder {
      color: color-mix(in oklab, var(--color-base-content) 20%, transparent);
    }
  }

  &:has(> input[disabled]) > input[disabled] {
    cursor: not-allowed;
  }

  &:has(> input[readonly]) {
    cursor: default;

    input {
      cursor: default;
    }
  }

  input::-webkit-date-and-time-value {
    text-align: inherit;
  }

  input[type='number']::-webkit-inner-spin-button {
    margin-top: calc(var(--size-base) * -0.75);
    margin-bottom: calc(var(--size-base) * -0.75);
    margin-inline-end: calc(var(--size-base) * -0.75);
  }

  input::-webkit-calendar-picker-indicator {
    position: absolute;
    inset-inline-end: 0.75em;
  }

  &:has(> input[type='date']) {
    :where(input[type='date']) {
      display: inline-flex;
      -webkit-appearance: none;
      appearance: none;
    }

    input[type='date']::-webkit-calendar-picker-indicator {
      position: absolute;
      inset-inline-end: 0.75em;
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
  }
}

.input-ghost {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;

  &:focus,
  &:focus-within {
    color: var(--color-base-content);
    background-color: var(--color-base-100);
    border-color: transparent;
    box-shadow: none;
  }
}

.input-neutral {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-neutral);
  }
}
.input-primary {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-primary);
  }
}
.input-secondary {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-secondary);
  }
}
.input-accent {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-accent);
  }
}
.input-info {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-info);
  }
}
.input-success {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-success);
  }
}
.input-warning {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-warning);
  }
}
.input-error {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-error);
  }
}

.input-xs {
  --size: calc(var(--size-field) * 6);
  font-size: max(var(--font-size, calc(var(--size-base) * 0.6875)), calc(var(--size-base) * 0.6875));

  input[type='number']::-webkit-inner-spin-button {
    margin-top: calc(var(--size-base) * -0.25);
    margin-bottom: calc(var(--size-base) * -0.25);
    margin-inline-end: calc(var(--size-base) * -0.75);
  }
}

.input-sm {
  --size: calc(var(--size-field) * 8);
  font-size: max(var(--font-size, calc(var(--size-base) * 0.75)), calc(var(--size-base) * 0.75));

  input[type='number']::-webkit-inner-spin-button {
    margin-top: calc(var(--size-base) * -0.5);
    margin-bottom: calc(var(--size-base) * -0.5);
    margin-inline-end: calc(var(--size-base) * -0.75);
  }
}

.input-md {
  --size: calc(var(--size-field) * 10);
  font-size: max(var(--font-size, calc(var(--size-base) * 0.875)), calc(var(--size-base) * 0.875));

  input[type='number']::-webkit-inner-spin-button {
    margin-top: calc(var(--size-base) * -0.75);
    margin-bottom: calc(var(--size-base) * -0.75);
    margin-inline-end: calc(var(--size-base) * -0.75);
  }
}

.input-lg {
  --size: calc(var(--size-field) * 12);
  font-size: max(var(--font-size, calc(var(--size-base) * 1.125)), calc(var(--size-base) * 1.125));

  input[type='number']::-webkit-inner-spin-button {
    margin-top: calc(var(--size-base) * -0.75);
    margin-bottom: calc(var(--size-base) * -0.75);
    margin-inline-end: calc(var(--size-base) * -0.75);
  }
}

.input-xl {
  --size: calc(var(--size-field) * 14);
  font-size: max(var(--font-size, calc(var(--size-base) * 1.375)), calc(var(--size-base) * 1.375));

  input[type='number']::-webkit-inner-spin-button {
    margin-top: calc(var(--size-base) * -1);
    margin-bottom: calc(var(--size-base) * -1);
    margin-inline-end: calc(var(--size-base) * -0.75);
  }
}
