:host {
  display: block;
}

.chartfields {
  padding: 10px 16px;
  color: var(--color-base-content);
}

.chartfields-title {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: var(--border) solid var(--color-base-300);
}

.chartfields-filter {
  padding: 10px 0;
}
