@import '../../../common/styles/reset.css';

:host {
  display: inline-block;
}

:host([block]) {
  display: block;
  width: 100%;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  --tabs-height: auto;
  --tabs-direction: row;
  --tab-height: calc(var(--size-field) * 10);
  height: var(--tabs-height);
  flex-direction: var(--tabs-direction);
  background-color: var(--color-base-200);
  padding: calc(var(--size-base) * 0.25);
  --tabs-box-radius: calc(3 * var(--radius-field));
  border-radius: calc(
    min(var(--tab-height) / 2, var(--radius-field)) + min(calc(var(--size-base) * 0.25), var(--tabs-box-radius))
  );
  box-shadow:
    0 -0.5px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset,
    0 0.5px oklch(0% 0 0 / calc(var(--depth) * 0.05)) inset;
}

.tabs.tabs-block {
  width: 100%;
}

.tabs > .tab {
  position: relative;
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  appearance: none;
  user-select: none;

  --tab-p: calc(var(--size-base) * 0.75);
  --tab-bg: var(--color-base-100);
  --tab-border-color: var(--color-base-300);
  --tab-order: 0;
  --tab-radius-min: calc(calc(var(--size-base) * 0.75) - var(--border));
  --tab-radius-limit: min(var(--radius-field), var(--tab-radius-min));

  order: var(--tab-order);
  height: var(--tab-height);
  font-size: calc(var(--size-base) * 0.875);
  padding-inline: var(--tab-p);
  color: color-mix(in srgb, var(--color-base-content) 50%, transparent);
  background-color: transparent;
  border: none;
  border-radius: var(--radius-field);
}

.tabs > .tab:hover {
  color: var(--color-base-content);
}

.tabs > .tab:empty {
  flex-grow: 1;
  cursor: default;
}

.tabs > .tab:focus {
  outline: none;
}

.tabs > .tab:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
  z-index: 1;
}

.tabs > .tab[disabled],
.tabs > .tab.tab-disabled {
  pointer-events: none;
  opacity: 0.4;
}

.tabs > .tab.tab-active:not([disabled]),
.tabs > .tab[aria-selected='true']:not([disabled]) {
  color: var(--color-base-content);
  background-color: var(--tab-bg);
  box-shadow:
    0 1px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset,
    0 1px 1px -1px color-mix(in oklab, var(--color-neutral) calc(var(--depth) * 50%), transparent),
    0 1px 6px -4px color-mix(in oklab, var(--color-neutral) calc(var(--depth) * 100%), transparent);
}

@media (forced-colors: active) {
  .tabs > .tab:checked,
  .tabs > .tab.tab-active {
    border: 1px solid;
  }
}

.tabs-xs {
  --tab-height: calc(var(--size-field) * 6);
}
.tabs-xs > .tab {
  font-size: calc(var(--size-base) * 0.75);
  --tab-p: calc(var(--size-base) * 0.375);
  --tab-radius-min: calc(calc(var(--size-base) * 0.5) - var(--border));
}

.tabs-sm {
  --tab-height: calc(var(--size-field) * 8);
}
.tabs-sm > .tab {
  font-size: calc(var(--size-base) * 0.875);
  --tab-p: calc(var(--size-base) * 0.5);
  --tab-radius-min: calc(calc(var(--size-base) * 0.5) - var(--border));
}

.tabs-md {
  --tab-height: calc(var(--size-field) * 10);
}
.tabs-md > .tab {
  font-size: calc(var(--size-base) * 0.875);
  --tab-p: calc(var(--size-base) * 0.75);
  --tab-radius-min: calc(calc(var(--size-base) * 0.75) - var(--border));
}

.tabs-lg {
  --tab-height: calc(var(--size-field) * 12);
}
.tabs-lg > .tab {
  font-size: calc(var(--size-base) * 1.125);
  --tab-p: var(--size-base);
  --tab-radius-min: calc(calc(var(--size-base) * 1.5) - var(--border));
}

.tabs-xl {
  --tab-height: calc(var(--size-field) * 14);
}
.tabs-xl > .tab {
  font-size: calc(var(--size-base) * 1.125);
  --tab-p: calc(var(--size-base) * 1.25);
  --tab-radius-min: calc(calc(var(--size-base) * 2) - var(--border));
}
