:host {
  display: block;
  font-size: 0.875rem;
  color: var(--color-base-content);
  padding: 2px 10px;

  --chart-shelf-gap: 10px;
  --chart-shelf-label-width: 7.5rem;
}

.chart-shelf__item {
  display: flex;
  gap: var(--chart-shelf-gap);
  align-items: center;
  width: 100%;
}

.chart-shelf__label {
  width: var(--chart-shelf-label-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  white-space: nowrap;
  flex-shrink: 0;
}

.chart-shelf__input {
  width: calc(100% - var(--chart-shelf-gap) - var(--chart-shelf-label-width));
}
