:host {
  display: block;
  font-size: calc(var(--size-base) * 0.875);
  color: var(--color-base-content);
  padding: calc(var(--size-base) * 0.125) calc(var(--size-base) * 0.625);

  --chart-shelf-gap: calc(var(--size-base) * 0.625);
  --chart-shelf-label-width: calc(var(--size-base) * 7.5);
}

.chart-shelf__item {
  display: flex;
  gap: var(--chart-shelf-gap);
  align-items: center;
  width: 100%;
}

.chart-shelf__label {
  width: var(--chart-shelf-label-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--size-base) * 0.25);
  white-space: nowrap;
  flex-shrink: 0;
}

.chart-shelf__input {
  flex: 1;
  min-width: 0;
}
