@import '../../../../common/styles/scroll-bar.css';

:host {
  display: block;
  font-size: calc(var(--size-base) * 0.875);
  height: 100%;
}

.fieldsection {
  display: flex;
  flex-direction: column;
  gap: calc(var(--size-base) * 0.625);
  height: 100%;
  min-height: 0;
}

.fieldsection-divider {
  height: 1px;
  background-color: var(--color-base-300);
  flex-shrink: 0;
}

.fieldsection-group {
  min-height: 0;
  overflow-y: auto;
}

.fieldsection-group-title {
  padding-bottom: calc(var(--size-base) * 0.25);
  flex-shrink: 0;
}

.fieldsection-item {
  display: block;
  flex-shrink: 0;
}

.fieldsection-item.dragging {
  opacity: 0.5;
  cursor: grabbing;
}
