@import '../../../../common/styles/scroll-bar.css';

:host {
  display: block;
  font-size: calc(var(--size-base) * 0.875);
}

.fieldsection {
  display: flex;
  flex-direction: column;
  gap: calc(var(--size-base) * 0.625);
}

.fieldsection-divider {
  height: 1px;
  background-color: var(--color-base-300);
}

.fieldsection-group {
  max-height: 500px;
  overflow-y: auto;
}

.fieldsection-group-title {
  padding-bottom: calc(var(--size-base) * 0.25);
}

.fieldsection-item {
  display: block;
}

.fieldsection-item.dragging {
  opacity: 0.5;
  cursor: grabbing;
}
