@import '../../../common/styles/reset.css';

:host {
  display: block;
}

.dropdown-content {
  border: 1px solid var(--color-base-300);
  border-radius: var(--radius-box);
  background: var(--color-base-100);
  color: var(--color-base-content);
}
