:host {
  display: block;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--size-base) * 0.625) var(--size-base);
}

.toolbar-group {
  display: flex;
  gap: calc(var(--size-base) * 0.5);
  align-items: center;
}
