@import '../../../common/styles/reset.css';

:host {
  display: inline-block;
}

:host(.dropdown-disabled) {
  pointer-events: none;
  opacity: 0.5;
}

.dropdown-trigger {
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  inset: auto;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  color: inherit;
  overflow: visible;
  z-index: 999;

  transition-property: opacity, scale, display, overlay;
  transition-behavior: allow-discrete;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:popover-open) {
    opacity: 0;
    scale: 95%;
  }

  &:popover-open {
    opacity: 1;
    scale: 100%;
  }

  &[data-placement^='bottom'] {
    transform-origin: top center;
  }

  &[data-placement^='top'] {
    transform-origin: bottom center;
  }

  &[data-placement^='left'] {
    transform-origin: right center;
  }

  &[data-placement^='right'] {
    transform-origin: left center;
  }
}

@starting-style {
  .dropdown-content:popover-open {
    scale: 95%;
    opacity: 0;
  }
}
