@import '../../../common/styles/reset.css';
@import '../../../common/styles/scroll-bar.css';

.modal {
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  inset: 0;
  margin: 0;
  display: grid;
  height: 100%;
  max-height: none;
  width: 100%;
  max-width: none;
  align-items: center;
  justify-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  color: inherit;
  transition:
    overlay 0.3s allow-discrete,
    visibility 0.3s allow-discrete,
    background-color 0.3s ease-out,
    opacity 0.1s ease-out;
  overflow: clip;
  overscroll-behavior: contain;
  z-index: 999;
  scrollbar-gutter: auto;
}

.modal::backdrop {
  display: none;
}

.modal[popover] {
  inset: 0;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  max-width: none;
  max-height: none;
}

.modal[popover]::backdrop {
  background-color: oklch(0% 0 0 / 0.4);
  transition: background-color 0.3s ease-out;
}

.modal.modal-open,
.modal[open],
.modal:popover-open,
.modal:target,
.modal-toggle:checked + .modal {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s allow-discrete,
    background-color 0.3s ease-out,
    opacity 0.1s ease-out;
  background-color: oklch(0% 0 0 / 0.4);
}

.modal.modal-open .modal-box,
.modal[open] .modal-box,
.modal:popover-open .modal-box,
.modal:target .modal-box,
.modal-toggle:checked + .modal .modal-box {
  translate: 0 0;
  scale: 1;
  opacity: 1;
}

:host:has(.modal.modal-open),
:host:has(.modal[open]),
:host:has(.modal:popover-open),
:host:has(.modal:target),
:host:has(.modal-toggle:checked + .modal) {
  --page-scroll-lock: ;
}

@starting-style {
  .modal.modal-open,
  .modal[open],
  .modal:popover-open,
  .modal:target,
  .modal-toggle:checked + .modal {
    opacity: 0;
  }
}

.modal-action {
  margin-top: calc(var(--size-base) * 1.5);
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--size-base) * 0.5);
}

.modal-toggle {
  position: fixed;
  height: 0;
  width: 0;
  appearance: none;
  opacity: 0;
}

.modal-backdrop {
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  align-self: stretch;
  justify-self: stretch;
  color: transparent;
  z-index: -1;
}

.modal-backdrop button {
  cursor: pointer;
}

.modal-box {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  grid-column-start: 1;
  grid-row-start: 1;
  max-height: 100vh;
  width: 91.666667%;
  max-width: calc(var(--size-base) * 32);
  padding: calc(var(--size-base) * 1.5);
  transition:
    translate 0.3s ease-out,
    scale 0.3s ease-out,
    opacity 0.2s ease-out 0.05s,
    box-shadow 0.3s ease-out;
  border-top-left-radius: var(--modal-tl, var(--radius-box));
  border-top-right-radius: var(--modal-tr, var(--radius-box));
  border-bottom-left-radius: var(--modal-bl, var(--radius-box));
  border-bottom-right-radius: var(--modal-br, var(--radius-box));
  scale: 0.95;
  opacity: 0;
  box-shadow: oklch(0% 0 0 / 0.25) 0px 25px 50px -12px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.modal-top {
  place-items: start;
}
.modal-top .modal-box {
  height: auto;
  width: 100%;
  max-width: none;
  max-height: calc(100vh - 5em);
  translate: 0 -100%;
  scale: 1;
  --modal-tl: 0;
  --modal-tr: 0;
  --modal-bl: var(--radius-box);
  --modal-br: var(--radius-box);
}

.modal-middle {
  place-items: center;
}
.modal-middle .modal-box {
  height: auto;
  width: 91.666667%;
  max-width: calc(var(--size-base) * 32);
  max-height: calc(100vh - 5em);
  translate: 0 2%;
  scale: 0.98;
  --modal-tl: var(--radius-box);
  --modal-tr: var(--radius-box);
  --modal-bl: var(--radius-box);
  --modal-br: var(--radius-box);
}

.modal-bottom {
  place-items: end;
}
.modal-bottom .modal-box {
  height: auto;
  width: 100%;
  max-width: none;
  max-height: calc(100vh - 5em);
  translate: 0 100%;
  scale: 1;
  --modal-tl: var(--radius-box);
  --modal-tr: var(--radius-box);
  --modal-bl: 0;
  --modal-br: 0;
}

.modal-start {
  place-items: start;
}
.modal-start .modal-box {
  height: 100vh;
  max-height: none;
  width: auto;
  max-width: none;
  translate: -100% 0;
  scale: 1;
  --modal-tl: 0;
  --modal-tr: var(--radius-box);
  --modal-bl: 0;
  --modal-br: var(--radius-box);
}
[dir='rtl'] .modal-start .modal-box {
  translate: 100% 0;
}

.modal-end {
  place-items: end;
}
.modal-end .modal-box {
  height: 100vh;
  max-height: none;
  width: auto;
  max-width: none;
  translate: 100% 0;
  scale: 1;
  --modal-tl: var(--radius-box);
  --modal-tr: 0;
  --modal-bl: var(--radius-box);
  --modal-br: 0;
}
[dir='rtl'] .modal-end .modal-box {
  translate: -100% 0;
}
