@import '../../../common/styles/reset.css';

:host {
  display: block;
}

.cascading-menu,
.cascading-submenu {
  display: flex;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  padding: calc(var(--size-base) * 0.5);
  margin: 0;
  --menu-active-fg: var(--color-neutral-content);
  --menu-active-bg: var(--color-neutral);
  font-size: calc(var(--size-base) * 0.875);
  color: var(--color-base-content);
  list-style-type: none;
  background-color: var(--color-base-100);
  border-radius: var(--radius-box);
  box-shadow:
    0 4px 6px -1px oklch(0% 0 0/0.1),
    0 2px 4px -2px oklch(0% 0 0/0.1);
}

.cascading-submenu {
  display: none;
  min-width: max-content;
  z-index: 10;
  opacity: 0;
  scale: 95%;
  transform-origin: top left;
  transition-property: opacity, scale, display;
  transition-behavior: allow-discrete;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cascading-menu-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.cascading-menu-content {
  border-radius: var(--radius-field);
  display: grid;
  grid-auto-flow: column;
  align-content: flex-start;
  align-items: center;
  gap: calc(var(--size-base) * 0.5);
  padding-inline: calc(var(--size-base) * 0.75);
  padding-block: calc(var(--size-base) * 0.375);
  text-align: start;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  grid-auto-columns: minmax(auto, max-content) auto max-content;
  user-select: none;
  text-decoration: none;
  line-height: 1.5;
  cursor: pointer;
  color: inherit;
}

.cascading-menu-content:not(.cascading-menu-active):hover,
.has-children:hover > .cascading-menu-content:not(.cascading-menu-active) {
  background-color: color-mix(in srgb, var(--color-base-content) 10%, transparent);
  outline: none;
}

.cascading-menu-content.has-submenu:after {
  justify-self: end;
  display: block;
  height: calc(var(--size-base) * 0.375);
  width: calc(var(--size-base) * 0.375);
  rotate: 135deg;
  translate: 0 -1px;
  transition-property: rotate, translate;
  transition-duration: 0.2s;
  content: '';
  transform-origin: 50% 50%;
  box-shadow: 2px 2px inset;
  pointer-events: none;
  margin-inline-start: var(--size-base);
}

.cascading-menu-active {
  outline: none;
  color: var(--menu-active-fg);
  background-color: var(--menu-active-bg);
  background-size: auto, calc(var(--noise) * 100%);
  background-image: none;
}

.cascading-menu-active:not(:active) {
  box-shadow: 0 2px calc(var(--depth) * 3px) -2px var(--menu-active-bg);
}

.cascading-menu-disabled {
  color: color-mix(in srgb, var(--color-base-content) 20%, transparent);
  pointer-events: none;
}

.cascading-menu-xs .cascading-menu-content {
  padding-inline: calc(var(--size-base) * 0.5);
  padding-block: calc(var(--size-base) * 0.25);
  font-size: calc(var(--size-base) * 0.6875);
}

.cascading-menu-sm .cascading-menu-content {
  padding-inline: calc(var(--size-base) * 0.625);
  padding-block: calc(var(--size-base) * 0.25);
  font-size: calc(var(--size-base) * 0.75);
}

.cascading-menu-md .cascading-menu-content {
  padding-inline: calc(var(--size-base) * 0.75);
  padding-block: calc(var(--size-base) * 0.375);
  font-size: calc(var(--size-base) * 0.875);
}

.cascading-menu-lg .cascading-menu-content {
  padding-inline: var(--size-base);
  padding-block: calc(var(--size-base) * 0.375);
  font-size: calc(var(--size-base) * 1.125);
}

.cascading-menu-xl .cascading-menu-content {
  padding-inline: calc(var(--size-base) * 1.25);
  padding-block: calc(var(--size-base) * 0.375);
  font-size: calc(var(--size-base) * 1.375);
}

.cascading-menu-horizontal {
  flex-direction: row;
}

.cascading-menu-horizontal > .cascading-menu-item > .cascading-menu-content.has-submenu:after {
  rotate: -135deg;
  translate: 0 -1px;
}
